<div class="banner">
<h1>Stupid coaching</h1>
</div>

<div class="response">
<p> <%= @questions%></p>
<p class="italic"> You</p>
</div>
<div class="response">
<p> <%= @answer%></p>
<p class="italic"> Your coach</p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
